<div id="wrapper" class="wrapper-full ">
    <!-- Header Container  -->
    <header id="header" class="variantleft type_6">

      <!-- Header Top -->
      <div class="header-top compact-hidden">
        <div class="container">
          <div class="row">
            <div class="header-top-left form-inline col-sm-5 col-xs-12 compact-hidden">
              <div class="form-group languages-block ">
                <form action="index.html" method="post" enctype="multipart/form-data" id="bt-language">
                  <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown"> <img src="./assets/image/demo/flags/gb.png" alt="English" title="English"> <span class="">English</span> <span class="fa fa-angle-down"></span> </a>
                  <ul class="dropdown-menu" *ngFor="let lang of langobj">
                    <li><a><img class="image_flag" src="{{lang.langImg}}" alt="{{lang.LanguageName}}" title="{{lang.LanguageName}}" /> {{lang.LanguageName}} </a></li>
                  </ul>
                </form>
              </div>

            </div>
            <div class="header-top-right collapsed-block text-right  col-sm-7 col-xs-12 compact-hidden">
              <h5 class="tabBlockTitle visible-xs">More<a class="expander " href="#TabBlock-1"><i class="fa fa-angle-down"></i></a></h5>
              <div class="tabBlock" id="TabBlock-1">
                <ul class="top-link list-inline">
                 <!-- <li class="account" id="my_account"><a href="my-account.html" title="My Account" class="btn btn-xs dropdown-toggle" > <i class="fa fa-user" ></i> My Account </a></li>
                  <li class="wishlist"><a href="wishlist.html" class="top-link-wishlist" title="wishlist"><i class="fa fa-heart" ></i> My Wish List</a></li>-->
                  <li class="checkout"><a class="top-link-checkout" title="Checkout"><i class="fa fa-question-circle" ></i> Help</a></li>
                  <li class="signin"><a routerLink="./../" class="top-link-checkout" title="login"><i class="fa fa-lock" ></i> Sign In</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //Header Top -->

      <!-- Header center -->
      <div class="header-center">
        <div class="container">
          <div class="row">
            <!-- Logo -->
            <div class="navbar-logo col-md-3 col-sm-12 col-xs-12"> <a href="index.html"><img src="./assets/image/demo/logos/logo.png" title="Your Store" alt="Your Store"></a> </div>
            <!-- //end Logo -->



            <!-- Main Menu -->
            <div class="phone-contact col-md-2  pull-right">
              <div class="inner-info"> <strong>Call us Now:</strong><br>
                <span>Toll free:  0123-456-789</span> </div>
            </div>
            <!-- //Main Menu -->


          </div>
        </div>
      </div>
      <!-- //Header center -->

      <!-- Header Bottom -->


      <!-- Navbar switcher -->
      <!-- //end Navbar switcher -->
    </header>
    <!-- //Header Container  -->
    <!-- Main Container  -->
    <div class="main-container container">
      <ul class="breadcrumb">
        <li><a ><i class="fa fa-home"></i></a></li>
        <li><a >Account</a></li>
        <li><a >Register</a></li>
      </ul>
      
      <div class="row">
        <div class="col-sm-12 col-md-8  col-lg-8 col-md-offset-2 col-lg-offset-2 form-box">
          <form role="form" action="" method="post" class="f1">
            <div class="f1-steps">
              <div class="f1-progress">
                <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 16.66%;"></div>
              </div>
              <div class="f1-step active">
                <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                <p>I am a</p>
              </div>
              <div class="f1-step">
                <div class="f1-step-icon"><i class="fa fa-id-card-o"></i></div>
                <p>Company Info</p>
              </div>
              <div class="f1-step">
                <div class="f1-step-icon"><i class="fa fa-check-square-o"></i></div>
                <p>Verification</p>
              </div>
            </div>
            <fieldset *ngIf="iama">
              <div class="col-md-12">
                <h4>Tell us who you are:</h4>
                <div class="form-group">
                  <div id="affected">
                    <input type="radio" name="set" title="<i class='fa fa-user'></i>  Seller from India">
                    <input type="radio" name="set" title="<i class='fa fa-shopping-cart'></i> Buyer outside India">
                  </div>
                </div>
                <div class="clear mrg45B"></div>
                <div class="f1-buttons">
                  <button type="button" class="btn btn-next" > Next </button>
                </div>

              </div>

            </fieldset>
            <fieldset>
              <div class="col-md-12">

                <div class="form-group col-md-12 pad0A">
                  <label class="" >Company Name</label>
                  <input type="text" name=" " placeholder="Company Name" class="form-control">
                </div>
                <div class="form-group col-md-6 pad0L">
                  <label class="" >Company Location</label>
                  <select  class="form-control">
                    <option value="0">Select from list</option>
                    <option value="1">India</option>
                    <option value="2">South Africa</option>
                    <option value="3">USA</option>
                  </select>
                </div>
                <div class="form-group  col-md-6 pad0R">
                  <label class="" >Company Email</label>
                  <input type="text" name=" " placeholder="Company Email" value=""  class="form-control">
                </div>
                <div class="form-group col-md-6 pad0L">
                  <label class="" >Password</label>
                  <input type="password"  placeholder="Password..." class="form-control" >
                </div>
                <div class="form-group col-md-6 pad0R">
                  <label class="" >Confirm password</label>
                  <input type="password"  placeholder="Confirm password..." class="form-control" >
                </div>
                <div class="form-group col-md-6 pad0L">
                  <label class="" >Company Landline No.</label>
                  <div>
                    <div class="col-md-3 pad0L">
                      <input type="text"  placeholder="" class="form-control">
                    </div>
                    <div class="col-md-3 pad0L">
                      <input type="text"  placeholder="" class="form-control">
                    </div>
                    <div class="col-md-6 pad0L pad0R">
                      <input type="text"  placeholder="" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6 pad0R">
                  <label class="" >Company Mobile No.</label>
                  <div>
                    <div class="col-md-3 pad0L">
                      <input type="text"  placeholder="" class="form-control">
                    </div>
                    <div class="col-md-3 pad0L">
                      <input type="text"  placeholder="" class="form-control">
                    </div>
                    <div class="col-md-6 pad0L pad0R">
                      <input type="text"  placeholder="" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="clear mrg20B"></div>
                <div class="f1-buttons">
                  <button type="button" class="btn btn-previous">Previous</button>
                  <button type="button" class="btn btn-next">Next</button>
                </div>
              </div>

            </fieldset>
            <fieldset>
              <div class="col-md-12">
                <h4>Verify your Mobile Number:</h4>
                <p>An OTP has been sent to your Mobile Number. Please enter the 4 digit OTP below for successful verification.</p>
                <div>
                  <div class="form-group col-sm-4 pad0L">
                    <input type="text" class="form-control" name="otp" placeholder="Enter your OTP number" required>
                    <a >Resend OTP</a> </div>
                  <button type="submit" class="btn btn-info  col-sm-2">Verify</button>
                </div>
                <div class="clear mrg20B"></div>
                <h4>Verify your Email ID:</h4>
                <p>An OTP has been sent to your Email ID. Please enter the 4 digit OTP below for successful verification.</p>
                <div>
                  <div class="form-group col-sm-4 pad0L">
                    <input type="text" class="form-control" name="otp" placeholder="Enter your OTP number" required>
                    <a >Resend OTP</a> </div>
                  <button type="submit" class="btn btn-info  col-sm-2">Verify</button>
                </div>
                <div class="clear mrg20B"></div>
                <div class="f1-buttons">
                  <button type="button" class="btn btn-previous">Previous</button>
                  <button type="submit" class="btn btn-submit">Submit</button>
                </div>
              </div>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <!-- //Main Container -->

    <!-- Footer Container -->
    <footer class="footer-container type_footer3">
      <!-- Footer Top Container -->
      <section class="footer-top">
        <div class="container content">
          <div class="row">
            <div class="col-sm-6 col-md-3 box-information">
              <div class="module clearfix">
                <h3 class="modtitle">Information</h3>
                <div class="modcontent">
                  <ul class="menu">
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="order-history.html">Order history</a></li>
                    <li><a href="order-information.html">Order information</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 box-service">
              <div class="module clearfix">
                <h3 class="modtitle">Customer Service</h3>
                <div class="modcontent">
                  <ul class="menu">
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="return.html">Returns</a></li>
                    <li><a href="sitemap.html">Site Map</a></li>
                    <li><a href="my-account.html">My Account</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 box-account">
              <div class="module clearfix">
                <h3 class="modtitle">My Account</h3>
                <div class="modcontent">
                  <ul class="menu">
                    <li><a >Brands</a></li>
                    <li><a href="gift-voucher.html">Gift Vouchers</a></li>
                    <li><a >Affiliates</a></li>
                    <li><a >Specials</a></li>
                    <li><a  target="_blank">Our Blog</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 collapsed-block ">
              <div class="module clearfix">
                <h3 class="modtitle">Contact Us </h3>
                <div class="modcontent">
                  <ul class="contact-address">
                    <li><span class="fa fa-map-marker"></span> My Company, 42 avenue des Champs Elysées 75000 Paris France</li>
                    <li><span class="fa fa-envelope-o"></span> Email: <a > sales@yourcompany.com</a></li>
                    <li><span class="fa fa-phone">&nbsp;</span> Phone 1: 0123456789 <br>
                      Phone 2: (123) 4567890</li>
                  </ul>
                </div>
              </div>
            </div>
            <hr class="footer-lines">
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="module clearfix modLine">
                <h3 class="modtitle">Sign up for newsletter </h3>
                <div class="modcontent align-center">
                  <div class="subscribe-home">
                    <form class="form subscribe" novalidate action="http://magento2.magentech.com/themes/sm_market/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
                      <div class="input-group">
                        <input name="email" type="email" class="form-control" onFocus="if(this.value=='Your email address') this.value='';" onBlur="if(this.value=='') this.value='Your email address';" value="Your email address" data-validate="{required:true, 'validate-email':true}">
                        <span class="input-group-btn">
                        <button type="submit" class="button-search btn btn-primary" name="submit_search">Subscribe</button>
                        </span> </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="module clearfix modLine footer--social">
                <h3 class="modtitle">Follow Us</h3>
                <div class="modcontent">
                  <div class="icons-social">
                    <div class="list-inline"> <a title="Facebook" href="http://www.facebook.com/MagenTech" target="_blank"> <span class="fa fa-facebook icon-circled icon-color"></span> </a> <a title="Twitter" href="https://twitter.com/magentech" target="_blank"> <span class="fa fa-twitter icon-circled icon-color"></span> </a> <a title="Google+" href="https://plus.google.com/u/0/+Smartaddons" target="_blank"> <span class="fa fa-google-plus icon-circled icon-color"></span> </a> <a title="Pinterest"  target="_blank"> <span class="fa fa-instagram icon-circled icon-color"></span> </a> </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="footer-lines footer-lines--bottom">
          </div>
        </div>
      </section>
      <!-- /Footer Top Container -->

      <!-- Footer Bottom Container -->
      <div class="footer-bottom-block ">
        <div class=" container">
          <div class="row">
            <div class="col-sm-5 copyright-text"> © 2016 Market. All Rights Reserved. </div>
            <div class="col-sm-7">
              <div class="block-payment text-right"><img src="./assets/image/demo/content/payment.png" alt="payment" title="payment" ></div>
            </div>
            <!--Back To Top-->
            <div class="back-to-top"><i class="fa fa-angle-up"></i><span> Top </span></div>
          </div>
        </div>
      </div>
      <!-- /Footer Bottom Container -->

    </footer>
    <!-- //end Footer Container -->

  </div>
