<div id="wrapper" class="wrapper-full ">
    <!-- Header Container  -->
    <header id="header" class="variantleft type_6">

      <!-- Header Top -->
      <div class="header-top compact-hidden">
        <div class="container">
          <div class="row">
            <div class="header-top-left form-inline col-sm-5 col-xs-12 compact-hidden">
              <div class="form-group languages-block ">
                <form action="index.html" method="post" enctype="multipart/form-data" id="bt-language">
                  <a class="btn btn-xs dropdown-toggle" data-toggle="dropdown"> <img src="./assets/image/demo/flags/gb.png" alt="English" title="English"> <span class="">English</span> <span class="fa fa-angle-down"></span> </a>
                  <ul class="dropdown-menu" *ngFor="let lang of langobj">
                    <li><a><img class="image_flag" src="{{lang.langImg}}" alt="{{lang.LanguageName}}" title="{{lang.LanguageName}}" /> {{lang.LanguageName}} </a></li>
                  </ul>
                </form>
              </div>

            </div>
            <div class="header-top-right collapsed-block text-right  col-sm-7 col-xs-12 compact-hidden">
              <h5 class="tabBlockTitle visible-xs">More<a class="expander " href="#TabBlock-1"><i class="fa fa-angle-down"></i></a></h5>
              <div class="tabBlock" id="TabBlock-1">
                <ul class="top-link list-inline">
                 <!-- <li class="account" id="my_account"><a href="my-account.html" title="My Account" class="btn btn-xs dropdown-toggle" > <i class="fa fa-user" ></i> My Account </a></li>
                  <li class="wishlist"><a href="wishlist.html" class="top-link-wishlist" title="wishlist"><i class="fa fa-heart" ></i> My Wish List</a></li>-->
                  <li class="checkout"><a href="http://help.market.co.za/" target="_blank" class="top-link-checkout" title="Checkout"><i class="fa fa-question-circle" ></i> Help</a></li>
                  <li class="signin"><a routerLink="" class="top-link-checkout" title="login"><i class="fa fa-lock" ></i> Sign In</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- //Header Top -->

      <!-- Header center -->
      <div class="header-center">
        <div class="container">
          <div class="row">
            <!-- Logo -->
            <div class="navbar-logo col-md-3 col-sm-12 col-xs-12"> <a href="index.html"><img src="./assets/image/demo/logos/logo.png" title="Your Store" alt="Your Store"></a> </div>
            <!-- //end Logo -->



            <!-- Main Menu -->
            <div class="phone-contact col-md-2  pull-right">
              <div class="inner-info"> <strong>Call us Now:</strong><br>
                <span>Toll free:  0123-456-789</span> </div>
            </div>
            <!-- //Main Menu -->


          </div>
        </div>
      </div>
      <!-- //Header center -->

      <!-- Header Bottom -->


      <!-- Navbar switcher -->
      <!-- //end Navbar switcher -->
    </header>
    <!-- //Header Container  -->
    <!-- Main Container  -->
    <div class="main-container container">
      <ul class="breadcrumb">
        <li><a href="http://market.co.za/" target="_blank"><i class="fa fa-home"></i></a></li>
        <li><a >Account</a></li>
        <li><a >Register</a></li>
      </ul>

      <div class="row">
        <div class="col-sm-12 col-md-8  col-lg-8 col-md-offset-2 col-lg-offset-2 form-box">


            <div *ngIf="iama">
                <div class="f1-steps">
                    <div class="f1-progress">
                      <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3"
                      style="width: 16.660000000000004%;"></div>
                    </div>
                    <div class="f1-step active">
                      <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                      <p>I am a</p>
                    </div>
                    <div class="f1-step">
                      <div class="f1-step-icon"><i class="fa fa-id-card-o"></i></div>
                      <p>Company Info</p>
                    </div>
                    <div class="f1-step">
                      <div class="f1-step-icon"><i class="fa fa-check-square-o"></i></div>
                      <p>Verification</p>
                    </div>
                  </div>
              <div class="col-md-12" style="padding-bottom:50px;">
                <h4>Tell us who you are:</h4>
                <div class="form-group">
                    <div id="affected">
                        <div class="zInputWrapper">
                              <div class="zInput " id="seller">
                                <span style="display:table;width: 100%;height: 100%;cursor:pointer;" (click)="firsttab('seller')">
                                    <span style="display: table-cell;vertical-align:middle;"><i class="fa fa-user"></i>
                                      Seller from India</span></span>
                              </div>
                              <div class="zInput" id="buyer">
                                <span style="display:table;width: 100%;height: 100%;cursor:pointer;"  (click)="firsttab('buyer')">
                                  <span style="display: table-cell;vertical-align:middle;"><i class="fa fa-shopping-cart"></i>
                              Buyer outside India</span></span>
                            </div>
                            <div class="zInput" id="frighten">
                                <span style="display:table;width: 100%;height: 100%; cursor:pointer;"  (click)="firsttab('frighten')">
                                    <span style="display: table-cell;vertical-align:middle;"><i class="fa fa-shopping-cart"></i>
                                Frieght</span></span>
                            </div>
                            <div class="row" style="padding-left:25px;">
                                <div class="col-md-4" >
                                  <div class="form-group" *ngIf="sellerField">
                                    <label class="control-label">Seller</label>
                                       <select class="form-control" [(ngModel)]="sellerOptions">
                                          <option value="">Choose Option</option>
                                          <option value="Manufacturer">Manufacturer</option>
                                          <option value="Exporter">Exporter</option>
                                          <option value="Make In India">Make In India</option>
                                          <option value="Service Provider">Service Provider</option>
                                       </select>
                                  </div>
                                </div>
                                <div class="col-md-4" >
                                    <div class="form-group"  *ngIf="buyerfield">
                                        <label class="control-label">Buyer</label>
                                        <select class="form-control" [(ngModel)]="buyerOptions">
                                            <option value="">Choose Option</option>
                                            <option value="Manufacturer">Manufacturer</option>
                                            <option value="Importer">Importer</option>
                                            <option value="Distributer">Distributer</option>
                                            <option value="Chain Store">Chain Store</option>
                                            <option value="Retailer">Retailer</option>
                                            <option value="Buyer (Consumer)">Buyer (Consumer)</option>
                                          </select>
                                    </div>
                                  </div>
                             </div>
                         </div>

                      </div>
                </div>
                <div class="clear mrg45B"></div>
                <div class="f1-buttons">
                  <button type="button" class="btn btn-next" (click)="nexttab('iama')"> Next </button>
                </div>

              </div>

            </div>
            <div *ngIf="companyInfo">
                <div class="f1-steps">
                    <div class="f1-progress">
                      <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3" style="width: 49.99333333333334%;"></div>
                    </div>
                    <div class="f1-step activated">
                      <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                      <p>I am a</p>
                    </div>
                    <div class="f1-step active">
                      <div class="f1-step-icon"><i class="fa fa-id-card-o"></i></div>
                      <p>Company Info</p>
                    </div>
                    <div class="f1-step">
                      <div class="f1-step-icon"><i class="fa fa-check-square-o"></i></div>
                      <p>Verification</p>
                    </div>
                  </div>
              <div class="col-md-12" style="padding-bottom:50px;">
                  <form role="form" action="" class="f1" [formGroup]="createAcc">
                <div class="form-group col-md-12 pad0A">
                  <label class="" >Company Name <span><strong>*</strong></span></label>
                  <input type="text" name=" " placeholder="Company Name" formControlName="companyName" [(ngModel)]="companyName"
                  class="form-control" >
                </div>
                <div class="form-group col-md-6 pad0L">
                  <label class="" >Company Location <span><strong>*</strong></span></label>
                  <select  class="form-control" #t [(ngModel)]="countrydata"  *ngIf="countryChangediv"
                  (change)="countryData(t.value)" formControlName="companyLocation">
                    <option value="">Select from list</option>
                    <option *ngFor="let contry of countries" [ngValue]="contry">{{contry.name}}</option>
                  </select>
                  <input type="text" name=" " *ngIf="!countryChangediv" disabled placeholder="Company Location" formControlName="contryIndia" [(ngModel)]="contryIndia"
                  class="form-control" >
                </div>
                <div class="form-group  col-md-6 pad0R">
                  <label class="" >Company Email <span><strong>*</strong></span></label>
                  <input type="text" name=" " placeholder="Company Email" value=""  class="form-control"
                  formControlName="companyEmail" [(ngModel)]="companyEmail">
                </div>
                <div class="form-group col-md-6 pad0L">
                    <!-- <div class="text-danger">
                        <p><strong>Password should be of minimum 8 chars and max 29 chars. Atleast 1 Uppercase, 1 Lowercase and 1 special character</strong></p>
                       </div> -->
                  <label class="" >Password <span><strong>*</strong></span></label>
                  <input type="password"  [(ngModel)]="companyPswrd" placeholder="Password..." class="form-control" formControlName="companyPswrd">

                </div>

                <div class="form-group col-md-6 pad0R">
                  <label class="" >Confirm password <span><strong>*</strong></span></label>
                  <input type="password"  placeholder="Confirm password..." class="form-control"
                  formControlName="companyCnfPswd" [(ngModel)]="companyCnfPswd" (keyup)="passwordMatch()">
                  <div class="text-danger" *ngIf="checkingPassword">
                    <span><strong>Confirm Password is not matched with Password</strong></span>
                  </div>
                </div>
                <div class="form-group col-md-6 pad0L">
                  <label class="" >Company Landline No.</label>
                  <div>
                    <div class="col-md-3 pad0L">
                      <input type="text"  placeholder="" value={{countryCode}} disabled class="form-control">
                    </div>
                    <div class="col-md-3 pad0L">
                      <input type="text"  placeholder="" class="form-control" formControlName="companylandline1" [(ngModel)]="companylandline1">
                    </div>
                    <div class="col-md-6 pad0L pad0R">
                      <input type="text"  placeholder="" class="form-control" formControlName="companylandline2" [(ngModel)]="companylandline2">
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-6 pad0R">
                  <label class="" >Company Mobile No. <span><strong>*</strong></span></label>
                  <div>
                    <div class="col-md-3 pad0L">
                      <input type="text"  placeholder="" value={{countryCode}} disabled class="form-control">
                    </div>
                    <div class="col-md-3 pad0L">
                      <input type="text"  placeholder="" class="form-control" formControlName="companyMobile1" [(ngModel)]="companyMobile1">
                    </div>
                    <div class="col-md-6 pad0L pad0R">
                      <input type="text"  formControlName="companyMobile2" [(ngModel)]="companyMobile2" placeholder="" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="clear mrg20B"></div>
                <div class="f1-buttons">
                  <button type="button" class="btn btn-previous" (click)="previoustab()">Previous</button>
                  <button type="submit" class="btn btn-next" (click)="nexttab('cmpnyInfo')">Next</button>
                </div>
              </form>
              </div>
            </div>
            <div *ngIf="verification">
              <div class="f1-steps">
                <div class="f1-progress">
                  <div class="f1-progress-line" data-now-value="16.66" data-number-of-steps="3"
                  style="width: 83.32666666666668%;"></div>
                </div>
                <div class="f1-step activated">
                  <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                  <p>I am a</p>
                </div>
                <div class="f1-step activated">
                  <div class="f1-step-icon"><i class="fa fa-id-card-o"></i></div>
                  <p>Company Info</p>
                </div>
                <div class="f1-step active">
                  <div class="f1-step-icon"><i class="fa fa-check-square-o"></i></div>
                  <p>Verification</p>
                </div>
              </div>
              <div class="col-md-12" style="padding-bottom:50px;">
                <h4>Verify your Mobile Number:</h4>
                <p>An OTP has been sent to your Mobile Number. Please enter the 4 digit OTP below for successful verification.</p>
                <div>
                  <div class="form-group col-sm-4 pad0L">
                    <input type="number" class="form-control" name="otp" [(ngModel)]="phoneVerify" [ngModelOptions]="{standalone: true}"
                     placeholder="Enter your OTP number" required>
                    <a (click)="otpMobile()" (click)="otpEmail()">Resend OTP</a> </div>
                  <button type="button" class="btn btn-info  col-sm-2" (click)="verifyMobileId()">Verify</button>
                </div>
                <div class="clear mrg20B"></div>
                <h4>Verify your Email ID:</h4>
                <p>An OTP has been sent to your Email ID. Please enter the 4 digit OTP below for successful verification.</p>
                <div>
                  <div class="form-group col-sm-4 pad0L">
                    <input type="number" class="form-control" name="otp" [(ngModel)]="EmailVerify" [ngModelOptions]="{standalone: true}" placeholder="Enter your OTP number" required>
                    <a (click)="otpMobile()" >Resend OTP</a> </div>
                  <button type="button" class="btn btn-info  col-sm-2" (click)="verifyEmailId()">Verify</button>
                </div>
                <div class="clear mrg20B"></div>
                <div class="f1-buttons">
                  <!-- <button type="button" class="btn btn-previous">Previous</button> -->
                  <button type="button" class="btn btn-submit" [disabled]="fianlSubmit" (click)="finalSubmit()">Submit</button>
                </div>
              </div>

            </div>

        </div>
      </div>
    </div>
    <!-- //Main Container -->
     <!-- /*modal window Starts */ -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <p class="text-danger">{{emaiIdExists}}</p>
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" routerLink="" >Sign In</button>
              <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
       <!-- /*modal window Ends */ -->
    <!-- Footer Container -->
    <footer class="footer-container type_footer3">
      <!-- Footer Top Container -->
      <section class="footer-top">
        <div class="container content">
          <div class="row">
            <div class="col-sm-6 col-md-3 box-information">
              <div class="module clearfix">
                <h3 class="modtitle">Information</h3>
                <div class="modcontent">
                  <ul class="menu">
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="order-history.html">Order history</a></li>
                    <li><a href="order-information.html">Order information</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 box-service">
              <div class="module clearfix">
                <h3 class="modtitle">Customer Service</h3>
                <div class="modcontent">
                  <ul class="menu">
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="return.html">Returns</a></li>
                    <li><a href="sitemap.html">Site Map</a></li>
                    <li><a href="my-account.html">My Account</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 box-account">
              <div class="module clearfix">
                <h3 class="modtitle">My Account</h3>
                <div class="modcontent">
                  <ul class="menu">
                    <li><a >Brands</a></li>
                    <li><a href="gift-voucher.html">Gift Vouchers</a></li>
                    <li><a >Affiliates</a></li>
                    <li><a >Specials</a></li>
                    <li><a  target="_blank">Our Blog</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 collapsed-block ">
              <div class="module clearfix">
                <h3 class="modtitle">Contact Us </h3>
                <div class="modcontent">
                  <ul class="contact-address">
                    <li><span class="fa fa-map-marker"></span> My Company, 42 avenue des Champs Elysées 75000 Paris France</li>
                    <li><span class="fa fa-envelope-o"></span> Email: <a > sales@yourcompany.com</a></li>
                    <li><span class="fa fa-phone">&nbsp;</span> Phone 1: 0123456789 <br>
                      Phone 2: (123) 4567890</li>
                  </ul>
                </div>
              </div>
            </div>
            <hr class="footer-lines">
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="module clearfix modLine">
                <h3 class="modtitle">Sign up for newsletter </h3>
                <div class="modcontent align-center">
                  <div class="subscribe-home">
                    <form class="form subscribe" novalidate action="http://magento2.magentech.com/themes/sm_market/newsletter/subscriber/new/" method="post" id="newsletter-validate-detail">
                      <div class="input-group">
                        <input name="email" type="email" class="form-control" onFocus="if(this.value=='Your email address') this.value='';" onBlur="if(this.value=='') this.value='Your email address';" value="Your email address" data-validate="{required:true, 'validate-email':true}">
                        <span class="input-group-btn">
                        <button type="submit" class="button-search btn btn-primary" name="submit_search">Subscribe</button>
                        </span> </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="module clearfix modLine footer--social">
                <h3 class="modtitle">Follow Us</h3>
                <div class="modcontent">
                  <div class="icons-social">
                    <div class="list-inline"> <a title="Facebook" href="http://www.facebook.com/MagenTech" target="_blank"> <span class="fa fa-facebook icon-circled icon-color"></span> </a> <a title="Twitter" href="https://twitter.com/magentech" target="_blank"> <span class="fa fa-twitter icon-circled icon-color"></span> </a> <a title="Google+" href="https://plus.google.com/u/0/+Smartaddons" target="_blank"> <span class="fa fa-google-plus icon-circled icon-color"></span> </a> <a title="Pinterest"  target="_blank"> <span class="fa fa-instagram icon-circled icon-color"></span> </a> </div>
                  </div>
                </div>
              </div>
            </div>
            <hr class="footer-lines footer-lines--bottom">
          </div>
        </div>
      </section>
      <!-- /Footer Top Container -->

      <!-- Footer Bottom Container -->
      <div class="footer-bottom-block ">
        <div class=" container">
          <div class="row">
            <div class="col-sm-5 copyright-text"> © 2016 Market. All Rights Reserved. </div>
            <div class="col-sm-7">
              <div class="block-payment text-right"><img src="./assets/image/demo/content/payment.png" alt="payment" title="payment" ></div>
            </div>
            <!--Back To Top-->
            <div class="back-to-top"><i class="fa fa-angle-up"></i><span> Top </span></div>
          </div>
        </div>
      </div>
      <!-- /Footer Bottom Container -->
      <!-- Modal -->


    </footer>
    <!-- //end Footer Container -->

  </div>

  <!-- /*modal window starts */ -->
  <button style="display:none;" id="emailId" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>


